/* Reset some default styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* font-family: Arial, sans-serif; */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

/* Style the container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
}
.highlight{
  background-color: yellow;
  display:inline;
}

/* Style the text paragraph */
.text {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* Style the display items */
.display-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Style the individual display items */
.time,
.mistakes,
.WPM {
  color: #4CAF50;
  font-size: 18px;
  font-weight: bold;
  flex: 1;
}

/* Style the "Try again" button */
.start {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.start:hover {
  background-color: #6090c3;
}

/* Highlighted text */
.correct {
  color: #4CAF50;
  font-weight: bold;
}

/* Incorrect text */
.incorrect {
  color: #F50505;
  font-weight: bold;
}

/* Current input character */
.current {
  color: rgb(7, 7, 11);
  
}

/* Additional textarea styling */
textarea {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  resize: none;
  transition: border-color 0.3s ease;
}

textarea:focus {
  outline: none;
  border-color: #007BFF;
}

textarea[readonly] {
  background-color: #f0f0f0;
  cursor: not-allowed;
}
.red {
  color: red;
}